# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/
.installed.cfg
*.egg
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

.env
.env.*
*.env

*.sqlite3
*.db

*.log
logs/
*.log.*

docker-compose.override.yml

# Node
node_modules/
auth_backend_frontend/node_modules/

venv/
ENV/
env.bak/
pip-wheel-metadata/


*.o
*.pyc
*.swp
*~

